 body{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
 }
 h1{
    font-weight: 500;
    }
span {
    color: gray;
}

a{
    text-decoration: none;
    color: gray;
}
 img {
    width: 100vw;
 }
    
h3 {
    font-weight: 500;
}

hr {
    color: gray;
}

ul {
    list-style: "–";
}

a .style{
    text-decoration-color: green;
}

